:root {
  --color-background: #db2777;
  --color-card-background: #ffffff;
  --color-primary: #000000;
  --color-secondary: #6b7280;
  --color-accent: #4ecca3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #232931;
    --color-card-background: #393e46;
    --color-primary: #ffffff;
    --color-secondary: #6b7280;
    --color-accent: #4ecca3;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  @apply m-0 py-1 bg-background font-sans;
}

@layer base {
  h1, h2 {
    @apply text-5xl;
  }

  h3, h4 {
    @apply text-4xl;
  }

  h5 {
    @apply text-2xl text-primary;
  }

  h6 {
    @apply text-base text-secondary;
  }

  h1, h2, h3, h4 {
    @apply font-extralight text-primary;
  }

  h5, h6 {
    @apply font-normal;
  }
}

@layer components {
  .card {
    @apply bg-card flex w-full rounded-md overflow-hidden;

    .card-media {
      @apply w-40 h-40 bg-contain flex-shrink-0 bg-center bg-no-repeat;
    }

    .card-details {
      @apply w-full p-3 flex flex-col justify-between;
    }
  }
}
